USE [master]
GO
/****** Object:  Database [BeerTracker]    Script Date: 10/14/2016 9:06:48 PM ******/
CREATE DATABASE [BeerTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BeerTracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER2K8R2\MSSQL\DATA\BeerTracker.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BeerTracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER2K8R2\MSSQL\DATA\BeerTracker_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BeerTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [cfusion]    Script Date: 10/14/2016 9:06:48 PM ******/
CREATE LOGIN [cfusion] WITH PASSWORD=N'bjzCJjgJoS9DIASbkj2U4ZxS18veBolhrR1UfZL+XgY=', DEFAULT_DATABASE=[BeerTracker], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [cfusion] DISABLE
GO
USE [BeerTracker]
GO
/****** Object:  User [cfusion]    Script Date: 10/14/2016 9:06:48 PM ******/
CREATE USER [cfusion] FOR LOGIN [cfusion] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cfusion]
GO
ALTER ROLE [db_datareader] ADD MEMBER [cfusion]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [cfusion]
GO
/****** Object:  Table [dbo].[Beer]    Script Date: 10/14/2016 9:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[breweryId] [int] NULL,
	[name] [nvarchar](100) NULL,
	[type] [nvarchar](100) NULL,
	[abv] [decimal](10, 2) NULL,
	[ibu] [tinyint] NULL,
	[brewery_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Beer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brewery]    Script Date: 10/14/2016 9:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brewery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](100) NULL,
 CONSTRAINT [PK_Brewery] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Beer] ON 

INSERT [dbo].[Beer] ([id], [breweryId], [name], [type], [abv], [ibu], [brewery_name]) VALUES (1, 167, N'#9', N'Pale Ale - American', CAST(5.10 AS Decimal(10, 2)), 20, N'Magic Hat Brewing Company')
INSERT [dbo].[Beer] ([id], [breweryId], [name], [type], [abv], [ibu], [brewery_name]) VALUES (2, 141, N'#Stoked Pale Ale', N'Pale Ale - American', CAST(5.70 AS Decimal(10, 2)), 0, N'HenHouse Brewing Company')
INSERT [dbo].[Beer] ([id], [breweryId], [name], [type], [abv], [ibu], [brewery_name]) VALUES (3, 244, N'12 Dogs of Christmas Ale', N'Winter Warmer', CAST(8.30 AS Decimal(10, 2)), 21, N'Thirsty Dog Brewing Company')
GO
SET IDENTITY_INSERT [dbo].[Beer] OFF
SET IDENTITY_INSERT [dbo].[Brewery] ON 

INSERT [dbo].[Brewery] ([id], [name], [country], [city], [state]) VALUES (1, N'7 Seas Brewing', N'United States', N'Gig Harbor', N'WA')
INSERT [dbo].[Brewery] ([id], [name], [country], [city], [state]) VALUES (2, N'8 Wired Brewing Co.', N'New Zealand', N'Warkworth', N'Auckland')
INSERT [dbo].[Brewery] ([id], [name], [country], [city], [state]) VALUES (3, N'903 Brewers', N'United States', N'Sherman', N'TX')
GO
SET IDENTITY_INSERT [dbo].[Brewery] OFF
/****** Object:  Index [IX_Beer_breweryId]    Script Date: 10/14/2016 9:06:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Beer_breweryId] ON [dbo].[Beer]
(
	[breweryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Brewery_UNQ_Name]    Script Date: 10/14/2016 9:06:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Brewery_UNQ_Name] ON [dbo].[Brewery]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_BeerId]    Script Date: 10/14/2016 9:06:48 PM ******/
USE [master]
GO
