html {
	position: relative;
	min-height: 100%;
}

body {
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 60px;
}

h1 {
  margin-bottom: 1.5rem;
}

.button-group {
  margin-top: 1.5rem;
}

.footer {
  /* revisit this after development is done and we turn off debug output */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 5px;
  background-color: #f5f5f5;
}

.bold {
  font-weight: bold;
}

.space-bottom {
  padding-bottom: 1em;
}
